body {
  background: linear-gradient(
    to bottom,
    transparent,
  );
  background-color: black;
}

.titleFont {
  color: white;
  text-align: center;
}

.bioText {
  color: white;
}

.myGallery {
  color: white;
}

.myProfile {
  color: white;
}

.tentang {
  color: white;
}

h1{
  color: white;
}